
.list-box {
    justify-content: center; 
    width: 20rem;
    font-size: 20px;
    border-radius: 15px;
    color:white;
}

.list-box h2 {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.list-box ul{
   
   display: flex;
   flex-direction: column;
   font-size: 12px;
   list-style: none;
   border-radius: 20px;
   padding: 20px;
   font-family: "Montserrat", sans-serif;
   background-color: rgba(19, 17, 17, 0.9);
}

.list-box li {
    margin: 2px ; /* Espacamento entre os itens */

}


.header-list {
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(19, 17, 17, 0.9);
}








