form {
    display: flex;
    flex-direction: column;
    padding: 45px;
    max-width: 220px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 20px;
}

label {
    font-size: 15px;
}


.selectPlanet, input {
    display: flex;
    background-color: rgba(19, 17, 17, 0.7);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;
    padding: 4px;
    border: none;
    font-size: 10px;
    cursor: pointer;
    color: white; 
    border-radius: 5px;
}

button {
    margin-top: 25px;
    cursor: pointer;
    justify-content: center;
    place-items: center;
    padding: 5px;
    font-size: 0.1rem;
    color: white;
    border-style: none;
    border-radius: 5px;
    background: rgb(30, 29, 41); 
  
}

select, button, label, input {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7e727e, 0 0 30px #7e727e, 0 0 40px #7e727e, 0 0 55px #7e727e, 0 0 75px #7e727e;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff 0 0 30px #fff, 0 0 40px #7e727e, 0 0 50px #7e727e, 0 0 60px #7e727e, 0 0 75px #7e727e, 0 0 100px #7e727e;
    }
}