form {
    display: flex;
    flex-direction: column;
    padding: 45px;
    max-width: 220px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #02121f;
    border-style:none;
    border-radius: 20px;
}

label {
    font-size: 15px;
}

.edit h2 {
    margin-top: 4rem;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #02121f;

}

.register h1 {
    display: flex;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    font-family: 'OriginTech', sans-serif;
    color: #02121f;
}

.register h2 {
    margin-top: 4rem;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #02121f;
}

.planetOption select, 
input {
   
    display: flex;
    background-color: rgba(19, 17, 17, 0.5);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;
    align-items: center;
    padding: 6px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    /* color: white; */
}


button {
    margin-top: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 6rem;
    height: 2rem;
    font-size: 0.5em;
    font-weight: bolder;
    color: #02121f;
    border-style: none;
    border-radius: 10px;
    background: rgb(45, 34, 195);
    background: linear-gradient(0deg, 
    rgb(164, 182, 204) 0%, 
    rgb(107, 40, 170) 100%);

}

select, button, label, input {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}