/* src/components/AddressForm.module.css */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    color: orange;
  }
  
  div {
    margin-bottom: 1em;
    color: purple;
  }
  
  label {
    margin-bottom: 0.5em;

  }
  
  input, select {
    background-color: black;
    padding: 0.5em;
    font-size: 1em;
    color: yellow;
  }
  